body {
    background-color: rgb(253, 251, 251);
}
p, ol, ul {
    font-family: 'Courier New', Courier, monospace;
}
#cabecalho {    
    top: 0;
    background-color: black;
    border-color: red;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    position: fixed;    
    width: 98.5%;   
    border-radius: 12px; 
    opacity: 1;

}

.indice {
    margin-top: 35px;
    text-align: center;    
  background-color: black;
    border-color: red;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    position: fixed;    
    width: 98.5%;   
    border-radius: 12px; 
    opacity: 1;  
}
.texto_indice {
    color: white;    
}

#titulo {
    color: white;    
    display: block;
    margin: auto;
    text-align-last: center;
    opacity: 1;    
    
}

#minha_foto {
    width: 180px;    
    border-radius: 20px;
    margin-top: 95px;
}
#rodape {
    bottom: 0.2%;
    background-color: black;
    border-color: red;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    position:relative;    
    width: 98.5%;  
    color: white;  
    text-align: center;
    border-radius: 12px;
    margin-top: 20px;    
}

